body {
  color: var(--color-base-text);
  background-color: var(--color-bg-first);
}
 

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: var(--color-base-text);
  background-color: var(--color-bg-first);
}

.setOfButtons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.iconImg {
  height: 30px;
  width: auto;
}


@media (max-width: 770px) {
 .bar {
  position: absolute;
  top: 4%;
  width: 300px;
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;

 }
 .themeButton{
  grid-row: 1;
  grid-column-start: 5;
  grid-column-end: 6;
 }

.setOfLinks{
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end:3;
  }

}


.setOfLinks {
  position: absolute;
  top: 15%;
  right: 3%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-bg-button);
  cursor: pointer;
  transition: border-color 0.25s;
  transition: transform 250ms ease-in-out;
}
button:hover {
  border-color: #84cc16;
  transform: scale(1.02);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.themeButton {
  position: absolute;
  top: 4%;
  right: 3%;
  z-index: 1;
  padding: 0.3em 0.9em;

  transition: transform 250ms ease-in-out;
}

.themeButton:hover {
  transform: scale(1.1);
 
}

.themeButton:active {
  transform: scale(1.1);
 
}
