.box {
    border-radius: 3px;
    border-color: 3px solid black;
    width: 10px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s;
  }